article {
    // Styling of projects and publications
    ul.portfolio-list {
        list-style: none;
        padding-left: 2em;

        li {
            // Spacing between subsequent entries.
            &+li { margin-top: .5em; }

            // Bullet
            &:before {
                content: "•";
                font-size: 1.5em;
                margin-left: -1em;
                color: $dark;
                transition: color .2s;

                // Position the bullet correctly.
                position: absolute;
                line-height: 1.5em;
            }
            &:hover:before { color: $accent; }

            // Correct spacing of paragraphs.
            p {
                padding: .125em .5em .125em 1.5em;
                margin: 0;
                text-indent: -1em;
            }
            p.title {
                font-size: 1.2em;
                // Scale padding down by factor 1.2 to account for increased
                // font size.
                padding: .104em .417em .104em 1.417em;

                date {
                    float: right;
                    margin: 0 0 1em 2em;
                    color: $light;
                    transition: color .05s;
                }
            }

            // Styling of an entry
            &>a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: $dark;
                transition: color .2s;

                &:hover {
                    color: #fff;
                    transition: color .05s;
                    p.title date {
                        color: #fff;
                        transition: color .2s;
                    }
                }
            }

            // Sliding background animation
            background-size: 200% 100%;
            background-image: linear-gradient(to right, #fff 50%, $accent 50%, );
            transition: background-position .2s;
            border-radius: 5px;
            &:hover { background-position: -100% 0; }
        }
    }
}