---
# Front matter
---

// Import fonts from Google Fonts.
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700');

// Set colours.
$accent:    #f06060;
$dark:      #30395C;
$light:     #c0c0c0;

// Set $baseurl.
$baseurl: "{{ site.baseurl }}";

@charset "utf-8";

@import "template";
@import "article";
@import "posts";
@import "portfolio";
@import "about";
